header.blog {
    background: url(../assets/blogHeader.jpg) top center no-repeat;
    background-size: cover;
    height: 550px;
    .headerContainer {
        max-width: 1600px;
        // display: flex;
        // justify-content: flex-end;
        margin: 0 auto;
    }
    h2 {
        margin: 15% 0px 0 8%;
        font-size: 5.5rem;
    }
}












main.blog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: -100px;
    max-width: 1600px;
    aside {
        flex-shrink: 3;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin-top: 100px;
        box-shadow: 20px 0px 0px 0px #220303;
        // transform: translateY(-100px);
        .sidebarImg {
        // transform: translateY(400px)
        // position: absolute;
        // z-index: 1;
        background: #220303;
        transform: translateY(-20px)
        }
        .sidebarText {
            // margin-top: 30px;
            margin-left: 10%;
            padding: 0px 30px 30px;
            background: #220303;
            transform: translateY(-20px);
            box-shadow: 0px 20px 0px 0px #220303;
        }
        h3 {
            @include hFontSize(3.4rem, 2.9rem, 2.2px, $primaryColor);
            font-weight: 400;
            margin: 10px 0 0;
        }
        p {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: $secondaryColor;
            font-family: 'Chathura', sans-serif;
            font-size: 1.95rem;
            line-height: 1.7rem;
            letter-spacing: 2.5px;
            font-weight: 100;
        }
        ul {
            padding-left: 30px;
        }
        li {
            color: #bf2603;
            font-size: 1.3rem;
            span {
            color: $primaryColor;
            font-family: 'Chathura', sans-serif;
            font-size: 1.95rem;
            line-height: 1.7rem;
            letter-spacing: 2.5px;
            font-weight: 100;
            margin-left: 10px;
            }
        }
        h3:nth-of-type(2) {
            margin-top: 40px;
        }
    }
    .blogSection {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 60%;
        max-width: 980px;
        transform: translate(0px, -150px);
        flex-shrink: 1;
        .blogText {
        align-self: center;
        padding: 12% 10% 5%;
        margin-left: -15px;
        box-shadow: -5px 5px 0px 0px $secondaryColor;
        }
        .postImg {
            box-shadow: -20px 20px 0px 0px $secondaryColor;
        }
        h3 {
            @include hFontSize(3.4rem, 1rem, 2.2px, $primaryColor);
            margin: 0;
            font-weight: 400;
        }
        p.date {
            color: $secondaryColor;
            margin: 20px 0 0;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 1.2rem;
        }
    }
    
}