header.contact {
    background: url(../assets/contactHeader.jpg) top center no-repeat;
    background-size: cover;
    height: 550px;
    h2 {
        margin: 200px 0px 0 0%;
        font-size: 5.5rem;
    }
}













main.contact .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    form {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 950px;
        font-size: 1.5rem;
        font-family: 'Chathura', sans-serif;
        font-weight: 100;
        background: #220303;
        padding: 70px 60px 60px;
        transform: translate(0, -150px);
        box-shadow: 20px 20px 0px 0px $secondaryColor;
        .name, .email {
            background: none;
            color: $primaryColor;
            letter-spacing: 2px;
            border: none;
            border-bottom: 2px solid $primaryColor;
            max-width: 48%;
            padding: 0 0 10px 25px;
            font-weight: 100;
        }
        textarea {
            background: none;
            color: $primaryColor;
            letter-spacing: 2px;
            border: 2px solid $primaryColor;
            margin: 50px 0;
            line-height: 1.5rem;
            padding: 35px 0 0px 20px;
            font-weight: 100;
            resize: none;
        }
        input::placeholder, textarea::placeholder {
            color: $primaryColor;
            opacity: 1;
            font-weight: 100;
        }
        .formGroup {
            display: flex;
            justify-content: space-between;
        }
        .submit {
            background: #bf2603;
            border: none;
            font-family: 'Tulpen One', cursive;
            color: $primaryColor;
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 1.7rem;
            padding: 5px 0;
        }
    }
    aside { 
        width: 35%;
        margin-top: 100px;
        ul {
            list-style-type: none;
            display: flex;
            margin: 10px 0 0 -12px;
            padding: 0;
        }
        li {
            padding: 0 6px;
        }
        li a {
            color: $primaryColor;
            padding: 0 7px;
            font-size: 1.3rem;
        }
        .contactInfo {
            display: flex;
            flex-direction: column;
            a {
                color: $primaryColor;
                text-decoration: none;
                color: $primaryColor;
                font-family: 'Chathura', sans-serif;
                font-weight: 100;
                font-size: 1.95rem;
                letter-spacing: 2.5px;
                line-height: 1.7rem;
            }
            p {
                margin: 0;
            }
        }
        .contactInfo a:first-child {
            margin: 15px 0 30px;
        }
        
        a[href*="mailto"] {
            // margin: 10px 0 20px 0;
        }
    }
}