.firstSection {
    padding-top: 250px;
    padding-bottom: 175px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    .content {
        width: 50%;
        display: flex;
    }
    .text {
        margin-left: 3%;
    }
    h3 {
        @include hFontSize(3.4rem, 2.9rem, 2.2px, $primaryColor);
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 0;
    }
    p {
       margin-top: 10px;
    }
    i {
        color: $primaryColor;
        font-size: 1.8rem;
        background: #bf2603;
        border-radius: 50%;
        border: 15px solid #bf2603;
    }
    .fa-file {
        padding: 0 7px;
    }
    .fa-phone {
        padding: 0 4px;
    }
    }
}