html {
    font-size: 125%;
    background: #111010;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

p {
    font-size: 1.95rem;
    line-height: 1.7rem;
    letter-spacing: 2.5px;
    color: $primaryColor;
    font-family: 'Chathura', sans-serif;
    font-weight: 100;
}

footer {
    background: #2c2c2c;
    p {
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: inherit;
    }
}

nav a:hover {
}


    // font-family: 'Chathura', sans-serif;

    // font-family: 'Tulpen One', cursive;

