html {
    font-size: 125%;
    background: #111010;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

p {
    font-size: 1.95rem;
    line-height: 1.5rem;
    letter-spacing: 1.9px;
    color: #ffffff;
    font-family: 'Chathura', sans-serif;
}



    // font-family: 'Chathura', sans-serif;

    // font-family: 'Tulpen One', cursive;

