html {
    font-size: 125%;
    background: #111010;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

p {
    font-size: 1.95rem;
    line-height: 1.7rem;
    letter-spacing: 2.5px;
    color: $primaryColor;
    font-family: 'Chathura', sans-serif;
    font-weight: 100;
}

footer {
    background: #2c2c2c;
    p {
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: inherit;
    }
}

header .wrapper nav a:hover {
    border-bottom: 1px solid $secondaryColor;
}

section.firstSection {
    i {
        transition: all 0.3s;
    }
    i:hover {
        color: #111010;
    }
}

section.secondSection {
    a {
        transition: all 0.3s;
    }
    a:hover {
        box-shadow: -5px 5px 0px 0px $secondaryColor;
    }
}

section.thirdSection {
    a {
        transition: all 0.3s;
    }
    a:hover {
        box-shadow: -5px 5px 0px 0px $secondaryColor;
    }
}

section.events {
    a {
        transition: all 0.3s;
    }
    a:hover {
        box-shadow: -5px 5px 0px 0px $secondaryColor;
        
    }
}

main.blog aside a:hover {
    border-bottom: 1px solid $secondaryColor;
}

.submit {
    transition: all 0.3s;
}

.submit:hover {
    box-shadow: 5px 5px 0px 0px $secondaryColor;
}

main.contact .wrapper {
    a {
        transition: all 0.3s;
    }
    a:hover {
        color: $secondaryColor;
    }
}

main.contact .wrapper .contactInfo {
    a {
        transition: all 0.3s;
    }
    a:hover {
        color: $secondaryColor;
    }
}