header {
    background: url(../assets/homeImage.jpg) center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    .headerBox {
        max-width: 50%;
        position: absolute;
        right: 0;
        top: 300px;
    }
    h1 {
        color: #ff8327;
        font-family: 'Tulpen One', cursive;
        font-size: 13rem;
        text-align: center;
        letter-spacing: 2.4px;
        z-index: 9;
        position: absolute;
    }
}