header {
    background: url(../assets/homeImage.jpg) center no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    // max-width: 1600px;
    // margin: 0 auto;
    .container {
        max-width: 1600px;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }
    .headerBox {
        max-width: 50%;
        margin-top: 7%;
    }
    .headerText {
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        display: flex;
        // border: 1px solid yellow;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 415px;
        z-index: 10;
    }
    h1 {
        color: #ff8327;
        font-family: 'Tulpen One', cursive;
        font-size: 13rem;
        font-weight: 400;
        letter-spacing: 2.4px;
        margin: 0;
        padding: 0;
        line-height: 11.5rem;
    }
    h2 {
        @include hFontSize(4.16rem, 0, 2.6px, $primaryColor);
        margin: 0;
        font-weight: 400;
        margin-left: 10px;
        padding: 0;
        align-self: flex-start;
    }
}
