.secondSection {
    background: #220303;
    display: flex;
    justify-content: space-between;
    // height: 800px;
    .container {
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }
    .containerLeft {
        transform: translate(0px, -15px);
    }
    .text {
        max-width: 80%;
    }
    .leftText {
        text-align: right;
        align-self: flex-end;
        margin-top: 95px;
    }
    .rightText {
        margin-bottom: 90px;
    }
    .containerRight {
        margin-top: 3%;
        flex-direction: column-reverse;
        transform: translate(0px, 35px);
    }
    .imgLeft {
        box-shadow: 15px 15px 0px 0px $secondaryColor;
    }
    .imgRight {
        box-shadow: -15px 15px 0px 0px $secondaryColor;
    }
    h3 {
        @include hFontSize(3.4rem, 2.9rem, 2.2px, $primaryColor);
        font-weight: 400;
        margin: 0;
    }
    p {
        margin: 10px 0 30px;
    }
    a {
        text-decoration: none;
        text-transform: capitalize;
        color: $primaryColor;
        font-family: $secondaryFont;
        background: #bf2603;
        padding: 5px 30px;
        font-size: 1.7rem;
        letter-spacing: 3px;
    }
}