.secondSection {
background: #220303;
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 47%;
        max-width: 670px;
    }
    .containerLeft {
        transform: translate(0px, -15px);
    }
    .leftText {
        text-align: right;
        margin: 10% 0 3% 3%;
    }
    .rightText {
        margin-right: 3%;
        margin-bottom: 10%;
    }
    .containerRight {
        flex-direction: column-reverse;
        transform: translate(0px, 5%);
    }
    .img {
        flex-shrink: 1;
    }
    .imgLeft {
        box-shadow: 15px 15px 0px 0px $secondaryColor;
    }
    .imgRight {
        box-shadow: -15px 15px 0px 0px $secondaryColor;
    }
    h3 {
        @include hFontSize(3.4rem, 2.9rem, 2.2px, $primaryColor);
        font-weight: 400;
        margin: 0;
    }
    p {
        margin: 1% 0 4%;
    }
    a {
        text-decoration: none;
        text-transform: capitalize;
        color: $primaryColor;
        font-family: $secondaryFont;
        background: #bf2603;
        padding: 5px 30px;
        font-size: 1.7rem;
        letter-spacing: 3px;
    }
}
}