article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  background: #111010; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

p {
  font-size: 1.95rem;
  line-height: 1.7rem;
  letter-spacing: 2.5px;
  color: #ffffff;
  font-family: 'Chathura', sans-serif;
  font-weight: 100; }

footer {
  background: #2c2c2c; }
  footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: inherit; }

nav {
  margin: 0 auto;
  max-width: 850px; }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 30px 0 0; }
    nav ul li {
      font-family: 'Tulpen One', cursive;
      color: #ffffff;
      font-size: 3rem;
      letter-spacing: 1.9px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    nav ul li a {
      font-family: 'Chathura', sans-serif;
      font-size: 1.9rem;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff; }
    nav ul .current {
      color: #ff8327; }

header {
  background: url(../assets/homeImage.jpg) center no-repeat;
  background-size: cover;
  height: 550px;
  position: relative; }
  header .container {
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto; }
  header .headerBox {
    max-width: 50%;
    margin-top: 7%; }
  header .headerText {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 415px;
    z-index: 10; }
  header h1 {
    color: #ff8327;
    font-family: 'Tulpen One', cursive;
    font-size: 13rem;
    font-weight: 400;
    letter-spacing: 2.4px;
    margin: 0;
    padding: 0;
    line-height: 11.5rem; }
  header h2 {
    font-size: 4.16rem;
    line-height: 0;
    letter-spacing: 2.6px;
    color: #ffffff;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    margin: 0;
    font-weight: 400;
    margin-left: 10px;
    -ms-flex-item-align: start;
    align-self: flex-start; }

.firstSection {
  padding-top: 250px;
  padding-bottom: 175px; }
  .firstSection .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .firstSection .wrapper .content {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .firstSection .wrapper .text {
      margin-left: 3%; }
    .firstSection .wrapper h3 {
      font-size: 3.4rem;
      line-height: 2.9rem;
      letter-spacing: 2.2px;
      color: #ffffff;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      font-weight: 400;
      margin-top: 5px;
      margin-bottom: 0; }
    .firstSection .wrapper p {
      margin-top: 10px; }
    .firstSection .wrapper i {
      color: #ffffff;
      font-size: 1.8rem;
      background: #bf2603;
      border-radius: 50%;
      border: 15px solid #bf2603; }
    .firstSection .wrapper .fa-file {
      padding: 0 7px; }
    .firstSection .wrapper .fa-phone {
      padding: 0 4px; }

.secondSection {
  background: #220303; }
  .secondSection .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto; }
    .secondSection .container .contentContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 47%;
      max-width: 670px; }
    .secondSection .container .containerLeft {
      -webkit-transform: translate(0px, -15px);
      -ms-transform: translate(0px, -15px);
      transform: translate(0px, -15px); }
    .secondSection .container .leftText {
      text-align: right;
      margin: 10% 0 3% 3%; }
    .secondSection .container .rightText {
      margin-right: 3%;
      margin-bottom: 10%; }
    .secondSection .container .containerRight {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
      transform: translate(0px, 5%); }
    .secondSection .container .img {
      -ms-flex-negative: 1;
      flex-shrink: 1; }
    .secondSection .container .imgLeft {
      -webkit-box-shadow: 15px 15px 0px 0px #ff8327;
      box-shadow: 15px 15px 0px 0px #ff8327; }
    .secondSection .container .imgRight {
      -webkit-box-shadow: -15px 15px 0px 0px #ff8327;
      box-shadow: -15px 15px 0px 0px #ff8327; }
    .secondSection .container h3 {
      font-size: 3.4rem;
      line-height: 2.9rem;
      letter-spacing: 2.2px;
      color: #ffffff;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      font-weight: 400;
      margin: 0; }
    .secondSection .container p {
      margin: 1% 0 4%; }
    .secondSection .container a {
      text-decoration: none;
      text-transform: capitalize;
      color: #ffffff;
      font-family: Tulpen One, cursive;
      background: #bf2603;
      padding: 5px 30px;
      font-size: 1.7rem;
      letter-spacing: 3px; }

.thirdSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 150px 0; }

.thirdSection h3 {
  font-size: 3.4rem;
  line-height: 2rem;
  letter-spacing: 2.2px;
  color: #ff8327;
  font-family: 'Chathura', sans-serif;
  font-weight: 700;
  font-weight: 400;
  margin: 0; }

.thirdSection a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Tulpen One, cursive;
  background: #bf2603;
  padding: 5px 30px;
  font-size: 1.7rem;
  letter-spacing: 3px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

figure {
  background: url(../assets/bannerImage.jpg) center right no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 1600px;
  margin: 0 auto; }

.events .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.events .smallBox {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 7%; }

.events img {
  -webkit-box-shadow: -20px 20px 0px 0px #ff8327;
  box-shadow: -20px 20px 0px 0px #ff8327; }

.events h3 {
  font-size: 3.4rem;
  line-height: 1.5rem;
  letter-spacing: 2.2px;
  color: #ff8327;
  font-family: 'Chathura', sans-serif;
  font-weight: 700;
  font-weight: 400;
  margin: 0; }

.events p {
  margin: 20px 0 40px; }

.events a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Tulpen One, cursive;
  background: #bf2603;
  padding: 5px 30px;
  font-size: 1.7rem;
  letter-spacing: 3px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.gallery {
  background: #220303; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px 0; }
  .gallery img {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .gallery .img {
    margin: 0 2%; }
  .gallery .img:nth-of-type(1) {
    margin-left: 0; }
  .gallery .img:nth-of-type(3) {
    margin-right: 0; }

header.blog {
  background: url(../assets/blogHeader.jpg) top center no-repeat;
  background-size: cover;
  height: 550px; }
  header.blog .headerContainer {
    max-width: 1600px;
    margin: 0 auto; }
  header.blog h2 {
    margin: 15% 0px 0 8%;
    font-size: 5.5rem; }

main.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: -100px;
  max-width: 1600px; }
  main.blog aside {
    -ms-flex-negative: 3;
    flex-shrink: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 450px;
    margin-top: 100px;
    -webkit-box-shadow: 20px 0px 0px 0px #220303;
    box-shadow: 20px 0px 0px 0px #220303; }
    main.blog aside .sidebarImg {
      background: #220303;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
    main.blog aside .sidebarText {
      margin-left: 10%;
      padding: 0px 30px 30px;
      background: #220303;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
      -webkit-box-shadow: 0px 20px 0px 0px #220303;
      box-shadow: 0px 20px 0px 0px #220303; }
    main.blog aside h3 {
      font-size: 3.4rem;
      line-height: 2.9rem;
      letter-spacing: 2.2px;
      color: #ffffff;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      font-weight: 400;
      margin: 10px 0 0; }
    main.blog aside p {
      margin: 0; }
    main.blog aside a {
      text-decoration: none;
      color: #ff8327;
      font-family: 'Chathura', sans-serif;
      font-size: 1.95rem;
      line-height: 1.7rem;
      letter-spacing: 2.5px;
      font-weight: 100; }
    main.blog aside ul {
      padding-left: 30px; }
    main.blog aside li {
      color: #bf2603;
      font-size: 1.3rem; }
      main.blog aside li span {
        color: #ffffff;
        font-family: 'Chathura', sans-serif;
        font-size: 1.95rem;
        line-height: 1.7rem;
        letter-spacing: 2.5px;
        font-weight: 100;
        margin-left: 10px; }
    main.blog aside h3:nth-of-type(2) {
      margin-top: 40px; }
  main.blog .blogSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 100px;
    width: 60%;
    max-width: 980px;
    -webkit-transform: translate(0px, -150px);
    -ms-transform: translate(0px, -150px);
    transform: translate(0px, -150px);
    -ms-flex-negative: 1;
    flex-shrink: 1; }
    main.blog .blogSection .blogText {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      padding: 12% 10% 5%;
      margin-left: -15px;
      -webkit-box-shadow: -5px 5px 0px 0px #ff8327;
      box-shadow: -5px 5px 0px 0px #ff8327; }
    main.blog .blogSection .postImg {
      -webkit-box-shadow: -20px 20px 0px 0px #ff8327;
      box-shadow: -20px 20px 0px 0px #ff8327; }
    main.blog .blogSection h3 {
      font-size: 3.4rem;
      line-height: 1rem;
      letter-spacing: 2.2px;
      color: #ffffff;
      font-family: 'Chathura', sans-serif;
      font-weight: 700;
      margin: 0;
      font-weight: 400; }
    main.blog .blogSection p.date {
      color: #ff8327;
      margin: 20px 0 0;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.2rem; }

section.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  max-width: 1600px;
  margin: 0 auto; }
  section.comments .commentContainer {
    width: 57%;
    min-width: 600px;
    padding-right: 50px; }
  section.comments h3 {
    font-size: 3.4rem;
    line-height: 0rem;
    letter-spacing: 2.2px;
    color: #ffffff;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    font-weight: 400; }
  section.comments .singleComment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  section.comments .singleComment:nth-of-type(1) {
    margin-bottom: 100px; }
  section.comments .userImg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 5%; }
  section.comments h4 {
    font-size: 2.5rem;
    line-height: 1.5rem;
    letter-spacing: 2.2px;
    color: #ff8327;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    font-weight: 400;
    margin: 0; }
  section.comments p {
    margin: 15px 0 0;
    line-height: 1.5rem; }
  section.comments form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.95rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 100;
    margin-top: 100px; }
    section.comments form .name, section.comments form .email {
      background: none;
      color: #ffffff;
      letter-spacing: 2px;
      border: none;
      border-bottom: 2px solid #ff8327;
      max-width: 47%;
      padding: 0 0 0px 3%;
      font-weight: 100; }
    section.comments form textarea {
      background: none;
      color: #ffffff;
      letter-spacing: 2px;
      border: 2px solid #ff8327;
      margin: 30px 0;
      line-height: 1.5rem;
      padding: 4% 0 0px 3%;
      font-weight: 100;
      resize: none; }
    section.comments form input::-webkit-input-placeholder, section.comments form textarea::-webkit-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    section.comments form input:-ms-input-placeholder, section.comments form textarea:-ms-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    section.comments form input::-ms-input-placeholder, section.comments form textarea::-ms-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    section.comments form input::placeholder, section.comments form textarea::placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    section.comments form .formGroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    section.comments form .name {
      width: 50%;
      background: none; }
    section.comments form .email {
      width: 50%; }
    section.comments form .submit {
      background: #bf2603;
      border: none;
      font-family: 'Tulpen One', cursive;
      color: #ffffff;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.7rem;
      padding: 5px 0;
      margin: 0px 0 100px; }

header.contact {
  background: url(../assets/contactHeader.jpg) top center no-repeat;
  background-size: cover;
  height: 550px; }
  header.contact h2 {
    margin: 200px 0px 0 0%;
    font-size: 5.5rem; }

main.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  main.contact .wrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    max-width: 950px;
    font-size: 1.5rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 100;
    background: #220303;
    padding: 70px 60px 60px;
    -webkit-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    transform: translate(0, -150px);
    -webkit-box-shadow: 20px 20px 0px 0px #ff8327;
    box-shadow: 20px 20px 0px 0px #ff8327; }
    main.contact .wrapper form .name, main.contact .wrapper form .email {
      background: none;
      color: #ffffff;
      letter-spacing: 2px;
      border: none;
      border-bottom: 2px solid #ffffff;
      max-width: 48%;
      padding: 0 0 10px 25px;
      font-weight: 100; }
    main.contact .wrapper form textarea {
      background: none;
      color: #ffffff;
      letter-spacing: 2px;
      border: 2px solid #ffffff;
      margin: 50px 0;
      line-height: 1.5rem;
      padding: 35px 0 0px 20px;
      font-weight: 100;
      resize: none; }
    main.contact .wrapper form input::-webkit-input-placeholder, main.contact .wrapper form textarea::-webkit-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    main.contact .wrapper form input:-ms-input-placeholder, main.contact .wrapper form textarea:-ms-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    main.contact .wrapper form input::-ms-input-placeholder, main.contact .wrapper form textarea::-ms-input-placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    main.contact .wrapper form input::placeholder, main.contact .wrapper form textarea::placeholder {
      color: #ffffff;
      opacity: 1;
      font-weight: 100; }
    main.contact .wrapper form .formGroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    main.contact .wrapper form .submit {
      background: #bf2603;
      border: none;
      font-family: 'Tulpen One', cursive;
      color: #ffffff;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.7rem;
      padding: 5px 0; }
  main.contact .wrapper aside {
    width: 35%;
    margin-top: 100px; }
    main.contact .wrapper aside ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 10px 0 0 -12px;
      padding: 0; }
    main.contact .wrapper aside li {
      padding: 0 6px; }
    main.contact .wrapper aside li a {
      color: #ffffff;
      padding: 0 7px;
      font-size: 1.3rem; }
    main.contact .wrapper aside .contactInfo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      main.contact .wrapper aside .contactInfo a {
        color: #ffffff;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Chathura', sans-serif;
        font-weight: 100;
        font-size: 1.95rem;
        letter-spacing: 2.5px;
        line-height: 1.7rem; }
      main.contact .wrapper aside .contactInfo p {
        margin: 0; }
    main.contact .wrapper aside .contactInfo a:first-child {
      margin: 15px 0 30px; }

@media (max-width: 1130px) {
  .firstSection {
    padding-top: 150px;
    padding-bottom: 150px; }
  .secondSection p {
    line-height: 1.3rem; } }

@media (max-width: 972px) {
  .firstSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .firstSection .wrapper .content {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .firstSection .wrapper .content a {
        -ms-flex-item-align: end;
        align-self: flex-end; }
    .firstSection .wrapper .text {
      padding-bottom: 50px; }
    .firstSection .wrapper .text4 {
      padding-bottom: 0; }
  .secondSection .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .secondSection .container .contentContainer {
      width: 90%;
      margin: 0 auto; }
      .secondSection .container .contentContainer p {
        line-height: 1.7rem; }
  .gallery img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); } }

@media (max-width: 777px) {
  .events .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .events .wrapper .smallBox {
      margin: 0 auto;
      margin-bottom: 50px; }
    .events .wrapper .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery .wrapper img {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .gallery .wrapper .img {
      width: 46%;
      margin: 2%; }
    .gallery .wrapper .img:nth-of-type(1) {
      margin-left: 2%; }
    .gallery .wrapper .img:nth-of-type(3) {
      margin-right: 2%; } }

@media (max-width: 1006px) {
  main.blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    main.blog aside {
      -ms-flex-item-align: start;
      align-self: flex-start; }
    main.blog .blogSection {
      width: 90%; } }

@media (max-width: 1340px) {
  main.contact .wrapper form .formGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  main.contact .wrapper form .name, main.contact .wrapper form .email {
    max-width: 100%; }
  main.contact .wrapper form .name {
    margin-bottom: 30px; } }

@media (max-width: 900px) {
  main.contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main.contact .wrapper form {
      width: 100%; }
    main.contact .wrapper aside {
      width: 100%;
      margin-top: 0; } }

@media (max-width: 550px) {
  main.contact .wrapper form {
    -webkit-box-shadow: 10px 10px 0px 0px #ff8327;
    box-shadow: 10px 10px 0px 0px #ff8327;
    padding: 5%; }
    main.contact .wrapper form .name, main.contact .wrapper form .email {
      border-bottom: 1px solid #ffffff; }
    main.contact .wrapper form textarea {
      border: 1px solid #ffffff; } }

/*# sourceMappingURL=style.css.map */